<div class="one-page-inner one-grey">
  <div class="container">
    <h2 class="one-page-header">
      報名參加
    </h2>
    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <h3>注意事項</h3>
        <p>
          請各位活動參與者在報名完後至淡江資管系辦
          <br/>
          尋找<strong class="color-red">系辦助理繳交保證金</strong>
          <br/>
          本活動並不實質上收取參與費用
          <br/>
          因此<strong class="color-red">保證金將于活動結束後全數退還</strong>
        </p>
        <h4 class="color-red">活動保證金額為500元</h4>
        <br/>
        <h4 class="color-red">報名資訊將用於替各位申請學生活動險<br/>除此之外將不會使用在其他用途</h4>
      </div>
      <div class="col-md-6 reg-page">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>