<div class="one-page-inner one-grey">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-page recent-activity">
        <div class="reg-header">
          <h2><%= @registration.team_name %></h2>
        </div>
        <div class="col-md-12">
          <% if @registration.paid? %>
            <ul class="list-inline style-icons text-center">
              <li><i class="icon-round-lg icon-ok icon-color-blue"></i></li>
            </ul>
            <p style="text-align: center;">已收到保證金</p>
          <% else %>
            <ul class="list-inline style-icons text-center">
              <li><i class="icon-round-lg icon-time icon-color-grey"></i></li>
            </ul>
            <p style="text-align: center;">
              尚未收到保證金
            </p>
            <p style="font-size: 14px;">
              <br/>
              參加活動的保證金繳納可以至
              <br/>
              淡江商管大樓資管系辦(B1111)尋找系辦助理繳納
              <br/>
              或是匯款給我們，匯款帳戶資訊已與系統提醒信函寄送給您
              <br/>
              繳款完成或是有其他問題請來信至 <a href="mailto:tlmx@oa.tku.edu.tw">tlmx@oa.tku.edu.tw</a>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>