<div class="one-page-inner one-grey" id="main">
  <div class="container">
    <div class="row">
      <div class="headline" style="text-align:center;">
        <h2 style="font-size:50px;margin-bottom:10px;">TKU Hackathon</h2>
        <span style="width:100%;display:block;font-size:20px;color:#888;">淡江黑客松</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="promo-box">
          <i class="icon-cogs"></i>
          <strong>平常在學校想跟高手切磋技術<br/>卻苦惱於沒機會嗎？</strong>
        </div>
      </div>
      <div class="col-md-4">
        <div class="promo-box">
          <i class="icon-bolt color-orange"></i>
          <strong>腦袋裡有超棒的創意<br/>想把它做出來讓大家知道嗎？</strong>
        </div>
      </div>
      <div class="col-md-4">
        <div class="promo-box">
          <i class="icon-group color-blue"></i>
          <strong>想認識你們還尚未結緣的夥伴嗎？</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="paralax-slice" class="one-page-inner one-default">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h1 style="color:#fff;">TKU Hackathon<br/>是一個很棒的機會</h1>
      </div>
      <div class="col-md-4">
        <%= link_to(root_path(anchor: 'registration'), class: 'btn btn-u btn-u-red btn-block one-page-btn') do %>
          <i class="icon-ok"></i>
          <span style="margin-left:10px;">現在就報名參加</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="one-page-inner one-blue" id="introduce">
  <div class="container">
    <h2 class="one-page-header">活動介紹</h2>
    <div class="row">
      <div class="col-md-6 one-page-content">
        <h3>什麼是Hackathon(黑客松)？</h3>
        <p>
          Hackathon是開發者社群間普遍可見的活動，在極短的開發時間內以某個主題，密集合作、開發應用程式，展示並考驗團隊的技術能力、創意度、合作性。除此之外，Hackathon同時也是開發者間的交流活動，透過活動進行來彼此技術分享。
        </p>
      </div>
      <div class="col-md-6 one-page-content">
        <h3>參加TKU Hackathon能為我帶來什麼好處？</h3>
        <p>
          舉辦Hackathon的最主要目的就是為了幫助同學間的創意、技術間的交流，讓同學們體驗在開發者社群中常有的有趣活動，磨練與了解未來職場或是在夥伴間最重要的合作共事能力，認識平時潛藏在風平浪靜校園內的高手，扣掉這些以外還能得到暴飲暴食取得的大量卡洛里，參加TKU Hackathon可想而知一定是收獲無窮。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="one-page-inner one-default" id="illustrate">
  <div class="container">
    <h2 class="one-page-header">活動說明</h2>
    <div class="row">
      <div class="col-md-12">
        <h3>活動方式</h3>
        <p>
          參加活動的團隊依照活動指示的主題進行開發，在時限內完成與主題相關的作品，本活動<strong class="color-red">限定不可在活動前做任何實質上的編程動作</strong>，但可與團隊討論編程方向或規劃程式架構。
          <br/>
          <strong>30小時不斷電Coding奮戰，在時限內完成與主題相關的作品</strong>，<strong class="color-red">不限使用程式語言</strong>，各隊在活動中可以互相交流刺激。在30小時的Coding後，每隊有5分鐘成果展示，向大家展現自己創意及作品。
        </p>
        <h3>團隊參加人數</h3>
        <p>兩人到四人</p>
        <h3>活動主題</h3>
        <p>
          請發揮創意開發對於淡江大學校方或者學生有關的應用程式
        </p>
        <h3>獎勵方式</h3>
        <p>
          透過校內老師與業界評審由程式<span class="color-red">創意度</span>、<span class="color-red">完成度</span>、<span class="color-red">實用性</span>評分參加隊伍作品
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>第一名</h3>
                <h4><i>獎金 $</i>30<i>,000</i></h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>第二名</h3>
                <h4><i>獎金 $</i>20<i>,000</i></h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing hover-effect">
              <div class="pricing-head">
                <h3>第三名</h3>
                <h4><i>獎金 $</i>10<i>,000</i></h4>
              </div>
            </div>
          </div>
        </div>
        <p>
          <br/><br/>
          <strong>爲鼓勵一、二年級學生參與競賽，由評審在隊伍成員皆為一、二年級生的隊伍中選出優秀隊伍，獲頒<strong class="color-red">新星獎獎金5,000及獎狀</strong>。</strong>
          <br/><br/>
          除此之外只要參與兩天一夜的活動，參加的團隊每一個人都可以拿到淡江Hackathon活動T-shirt乙件、和活動參與證書。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="one-page-inner one-grey" id="information">
  <div class="container">
    <h2 class="one-page-header">時間地點</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 one-page-content">
        <p>
          <strong class="color-red">2014/03/29 - 2014/03/30</strong>
          <br/>
          活動將於 <strong class="color-red">09:00AM</strong> 開始報到
          <br/>
          我們在淡江大學學生活動中心與你不見不散！
        </p>
      </div>
    </div>
  </div>
  <!-- Google Map -->
  <div id="map" class="map margin-bottom-40"></div>
  <!---/map-->
</div>

<div class="one-page-inner one-default" id="registration">
  <div class="container">
    <h2 class="one-page-header">
      報名參加
    </h2>
    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <h3>注意事項</h3>
        <p>
          請各位活動參與者在報名完後至淡江資管系辦(B1111)
          <br/>
          尋找<strong class="color-red">系辦助理繳交保證金</strong>
          <br/>
          本活動並不實質上收取參與費用
          <br/>
          因此<strong class="color-red">保證金將于活動結束後全數退還</strong>
        </p>
        <h4 class="color-red">活動保證金額為500元</h4>
        <br/>
        <h4 class="color-red">報名資訊將用於替各位申請學生活動險<br/>除此之外將不會使用在其他用途</h4>
      </div>
      <div class="col-md-6 reg-page">
        <%= render 'registrations/form' %>
      </div>
    </div>
  </div>
</div>
<div id="paralax-welcome" class="one-page-inner one-default" data-stellar-background-ratio="0.5">
  <div class="container">

  </div>
</div>
<div class="one-page-inner one-default" id="sponsor">
  <div class="container">
    <h2 class="one-page-header">
      徵求贊助方
    </h2>
    <div class="row">
      <div class="col-md-12">
        <small class="pull-right">* 如對本活動有興趣參與贊助請來信 <a href="mailto:imna.tku@gmail.com">IMNA.TKU</a></small>
      </div>
    </div>
  </div>
</div>