// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "unify/pages/page_contact";

#paralax-slice {
  min-height: 0;
  background: image_url('hackathon.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
}

#paralax-slice a.one-page-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#paralax-welcome {
  min-height: 150px;
  background: image_url('background.png') 0 20% no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

p {
  font-size: 18px;
}

h2.one-page-header {
  text-align:center;
  margin-bottom: 40px;
}

.one-page-inner p {
  margin-bottom: 40px;
}

.one-page-content {
  text-align:center;
}