<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled top-v1-contacts">
        <li>
          <i class="icon-envelope"></i> Email: <a href="mailto:tlmx@oa.tku.edu.tw">tlmx@oa.tku.edu.tw</a>
        </li>
        <li>
          <i class="icon-phone"></i> 活動聯絡: (02) 26215656 - 2645 or 2648
        </li>
      </ul>
    </div><!--/top-v1-contacts-->

    <div class="col-md-6">
      <ul class="list-unstyled top-v1-data">
        <li>
          <a href="http://www.facebook.com/sharer.php?u=http://imna.im.tku.edu.tw&t=邀請大家一同參加TKU Hackathon http://imna.im.tku.edu.tw" data-original-title="Facebook" style="padding-left:5px;padding-right:5px;">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/share?text=邀請大家一同參加TKU Hackathon http://imna.im.tku.edu.tw" data-original-title="Twitter" style="padding-left:5px;padding-right:5px;">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/share?url=http://imna.im.tku.edu.tw" data-original-title="Goole Plus" style="padding-left:5px;padding-right:5px;">
            <i class="icon-google-plus"></i>
          </a>
        </li>
        <li>
          <%= link_to '查詢報名狀況', registrations_path %>
        </li>
      </ul>
    </div><!--/top-v1-data-->
  </div>
</div>